:root {
    //
}

* {
    font-size: 30px;
    /* outline: 1px black dotted; */
    border-color: red;
    background-color: gainsboro;
    margin: 0px;
}

ul {
    list-style-type: none;
    line-height: 2em;
}

ul.tree>li:after,
ul.tree>li:before {
    display: none;
}

ul li {
    position: relative;
    border-right: 5px solid yellowgreen;
    width: 500px;
    padding: 0px;
    outline: 1px dotted;

}

ul li::before {
    border-left: 4px solid gray;
    border-bottom: 4px solid gray;
    content: "";
    width: 35px;
    height: 50%;
    position: absolute;
    left: -35px; 
    top: 0px;

}

ul li::after {
    border-left: 4px solid gray;
    content: "";
    height: 100%;
    position: absolute;
    left: -35px;
    bottom: 0px;
}

ul li:last-child::after {
    display: none;
}

summary {
    cursor: pointer;
    color: rgb(181, 34, 255)
}

summary::marker {
    display: none;
    color: red;
    content: "";
}

summary::-webkit-details-marker {
    /* display: none; */
    background-color: red;
    color: green
}

/* ul summary::before {
    position: absolute;
    left: -1.5px;
    top: .55em;
    content: "+";
    background-color: rgba(255, 0, 0, 0.417);
    color: rgb(0, 90, 128);
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50em;
    text-align: center;
    line-height: auto;
    font-size: 50px;
    z-index: 999;
} */

/* ul details[open]>summary::before {
    content: "-";
} */

.bigbox {
    width: 300px;
    height: 140px;
    background-color: green;
}