summary::marker {
    display: none;
    content: "";
}

summary::after {
    content: "+";
    font-size: 40px;
    text-align: center;
    line-height: 1em;
    color: black;
    position: absolute;
    right: 5px;
    top: 30px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

ul details[open]>summary::after {
    content: "-";
    top: 26px;
}

ul {
    list-style-type: none;
}


li,
summary {
    position: relative;
    padding: 0px;
    width: 350px;
    min-height: 80px;
    margin: 0px;
    margin-bottom: 10px;
    /* outline: 1px black dotted; */
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: aqua;
    border: 1px solid grey;
    padding: 0px 15px;
}


li:not(:empty):not(:has(ul)) {
    background-color: yellow;
}


li:has(ul) {
    background-color: transparent;
    margin: 0px 0px;
    /* padding: 0px; */
}


.dropable {
    outline: 2px dashed grey;
}

.dragging {
    border: 1px solid red;
    box-shadow: 2px 2px 30px 8px rgb(155, 155, 155);
    /* display: none; */
    background-color: blue;
}